* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #0f172a;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #38bdf8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text span {
    color: #38bdf8;
}

.hero-text h3 {
    margin: 15px 0;
    font-weight: 300;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.hero-img img {
    width: 300px;
    border-radius: 50%;
}

.section {
    padding: 80px 10%;
    text-align: center;
}

.dark {
    background: #1e293b;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #0f172a;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
}
